<form #form="ngForm" nz-form>
  <nz-tabset>
    <nz-tab nzTitle="General">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">Name</nz-form-label>
        <nz-form-control [nzValidateStatus]="isRequiredInValid(name)?'error':'success'" [nzSpan]="19">
          <input nz-input btAutofocus required [(ngModel)]="newEntity.name" name="name" #name='ngModel'>
          <nz-form-explain *ngIf="isRequiredInValid(name)"> Name is required! </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">{{ 'TravelAgenda.Image' | translate }}</nz-form-label>
        <nz-form-control [nzValidateStatus]="isCoverInValid()?'error':'success'" [nzSpan]="19">
          <nz-upload [nzAction]="uploadUrl" nzListType="picture-card" [nzBeforeUpload]="beforeCoverUpload"
            [nzShowUploadList]="false">
            <ng-container *ngIf="!newEntity.cover">
              <i class="anticon anticon-plus"></i>
              <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="newEntity.cover" [src]="newEntity.cover">
          </nz-upload>
          <nz-form-explain *ngIf="isCoverInValid()">{{ 'TravelAgenda.Error.RequireImage' | translate }}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab nzTitle="Daily Trips">
      <nz-list [nzDataSource]="originalEntity.dailyTrips" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-dt let-i='index'>
          <nz-list-item>
            <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
              <ng-template #nzTitle>
                <a href="https://ng.ant.design">Day {{i}}</a>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-tab>
  </nz-tabset>
</form>
