<form #form="ngForm" nz-form>
  <nz-tabset>
    <nz-tab nzTitle="General">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">Name</nz-form-label>
        <nz-form-control [nzValidateStatus]="isRequiredInValid(name)?'error':'success'" [nzSpan]="19">
          <input nz-input btAutofocus required [(ngModel)]="newEntity.name" name="name" #name='ngModel'>
          <nz-form-explain *ngIf="isRequiredInValid(name)"> Name is required! </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="5">Cover</nz-form-label>
        <nz-form-control [nzValidateStatus]="isCoverInValid()?'error':'success'" [nzSpan]="19">
          <nz-upload [nzAction]="uploadUrl" nzListType="picture-card" [nzBeforeUpload]="beforeCoverUpload"
            [nzShowUploadList]="false">
            <ng-container *ngIf="!newEntity.cover">
              <i class="anticon anticon-plus"></i>
              <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="newEntity.cover" [src]="newEntity.cover">
          </nz-upload>
          <nz-form-explain *ngIf="isCoverInValid()">{{ 'TravelAgenda.Error.RequireImage' | translate }}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab nzTitle="Daily Trips">
      <div nz-row>
        <div nz-col nzSpan='12' style='padding-right: 10px;'>
          <nz-list class='dt-list' [nzDataSource]="originalEntity.dailyTrips" [nzRenderItem]="dt" [nzFooter]='addNewDailyTrip'
            [nzItemLayout]="'horizontal'">
            <ng-template #addNewDailyTrip>
              <button nzBlock nz-button nzType="primary" [nzSize]="'large'">
                <svg class='icon' aria-hidden="true">
                  <use xlink:href='#icon-plus'></use>
                </svg>
                Add a new Day
              </button>
            </ng-template>
            <ng-template #dt let-dailyTrip let-i='index'>
              <nz-list-item class='dt-item' nz-wave [ngClass]="getDailyTripClass(dailyTrip)" (click)='dailyTripSelected(dailyTrip)'>
                <span class='dt-item-content'>Day {{i}}</span>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </div>
        <div nz-col nzSpan='12'>
          <nz-list class='vp-list' [nzDataSource]="(_travelAgendaService.selectedDailyTrip$ | async)?.travelViewPoints"
            [nzRenderItem]="vp" [nzItemLayout]="'horizontal'" [nzFooter]='addNewTravelViewPoint'>
            <ng-template #addNewTravelViewPoint>
              <button *ngIf='_travelAgendaService.selectedDailyTrip !== null' nzBlock nz-button nzType="primary"
                [nzSize]="'large'">
                <svg class='icon' aria-hidden="true">
                  <use xlink:href='#icon-plus'></use>
                </svg>
                Add a new View Point
              </button>
            </ng-template>
            <ng-template #vp let-travelViewPoint>
              <nz-list-item class='vp-item' nz-wave [ngClass]="getTravelViewPointClass(travelViewPoint)" (click)='travelViewPointSelected(travelViewPoint)'>
                <span class='vp-item-content'>{{travelViewPoint.viewPoint.name}}</span>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</form>
